@inject HttpClient HttpClient

@page "/stats"
@using Dashboard.Models

<h1>Stats</h1>

<DateRangePicker @bind-StartDate="StartDate" @bind-EndDate="EndDate" OnRangeSelect="OnRangeSelect" MaxDate="DateTimeOffset.Now.AddDays(1)" />

<div class="container">
    @if (IsLoading)
    {
        <div id="overlay">
            <div id="loader"></div>
        </div>
    }
    <div class="result @(IsLoading ? "data-loading" : string.Empty)" >
        <p>Benef: @ReturnAmount</p>
        <BarChart @ref="BarChart" TItem="double"/>
    </div>
</div>


@code{
    DateTimeOffset? StartDate { get; set; } = DateTime.Today.AddMonths(-1);
    DateTimeOffset? EndDate { get; set; } = DateTime.Today;
    public bool IsLoading { get; set; }
    public BarChart<double> BarChart;
    Dictionary<DateTime, decimal?> returnByDay = new Dictionary<DateTime, decimal?>();

    decimal ReturnAmount { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await HandleRedraw();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    public async void OnRangeSelect(DateRange range)
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        IsLoading = true;
        await GetBets();
        IsLoading = false;
        await HandleRedraw();
        StateHasChanged();
    }

    private async Task GetBets()
    {
        returnByDay.Clear();
        var uri = $"bet?startDate={StartDate.Value.Date.ToString("yyyy-MM-dd")}&endDate={EndDate.Value.Date.ToString("yyyy-MM-dd")}";
        ReturnAmount = 0;
        var bets = await HttpClient.GetFromJsonAsync<List<BetDto>>(uri);
        var betsByDays = bets.GroupBy(_ => _.Date.Date).OrderBy(_ => _.Key);
        foreach (var betByDay in betsByDays)
        {
            var amount = betByDay.Sum(_ => _.Benefits);
            returnByDay[betByDay.Key] = amount;
            ReturnAmount += amount.Value;
        }
        Console.WriteLine(ReturnAmount);
    }

    async Task HandleRedraw()
    {
        await BarChart.Clear();
        await BarChart.AddLabels(returnByDay.Keys.Select(_ => _.ToString()).ToArray());
        await BarChart.AddDataSet(GetLineChartDataset());
        await BarChart.Update();
    }

    BarChartDataset<double> GetLineChartDataset()
    {
        return new BarChartDataset<double>
        {
            Data = returnByDay.Select(_ => (double)_.Value).ToList()
        };
    }
}